.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
  flex-wrap: wrap;
}

.menuLink {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background: var(--primary);
  color: var(--text-over-primary);
  transition: all 0.1s ease-in-out;
  padding: 1.2rem;
  border-radius: 0.8rem;
}

.menuLink:hover {
  filter: brightness(80%);
}

.menuLink svg {
  width: 2.4rem;
  height: 2.4rem;
}

.welcome {
  font-size: 1.3rem;
  color: var(--text-muted);
  white-space: nowrap;
}

.logoutBtn {
  background: var(--error);
  border: none;
  cursor: pointer;
  color: var(--text-over-error);
  padding: 1.2rem;
  border-radius: 0.8rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: filter 0.1s ease-in-out;
}

.logoutBtn:hover {
  filter: brightness(80%);
}