.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  gap: 1.6rem;
}

.footer a {
  color: var(--text-muted);
  text-decoration: none;
}

.footer a:hover {
  color: var(--text-muted);
  text-decoration: underline;
}

.logoutBtn {
  background: none;
  border: none;
  color: var(--error);
  font-size: 1.2rem;
  cursor: pointer;
  text-decoration: underline;
  padding: 0;
  transition: filter 0.1s ease-in-out;
}

.logoutBtn:hover {
  filter: brightness(80%);
}